{% extends 'base.jinja' %}

{% block content %}
    <h2>Log In</h2>
    <form action="" method="post">
        {{ login_form.hidden_tag() }}
        <p>
        {{ login_form.username.label }}
        {{ login_form.username(size=32) }}
        </p>
        
        <p>
        {{ login_form.email.label }} <br>
        {{ login_form.email(size=32) }}
        </p>

        <p>
        {{ login_form.password.label }} <br>
        {{ login_form.password(size=32) }}
        </p>
    
        <p>
        {{ login_form.confirm_password.label }}
        {{ login_form.confirm_password(size=32) }}
        </p>
        
        <p>
        {{ login_form.submit(class='btn btn-primary') }}
        </p>
    </form>

{% endblock %}